<article class="post post-large">
    <div class="post-date">
        <span class="day">{{ entry.postDate | date("d") }}</span>
        <span class="month">{{ entry.postDate | date("M") }} {{ entry.postDate | date("y") }}</span>
    </div>

    <h2 class="font-weight-semibold text-6 line-height-3 mb-3">
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    </h2>

    {% set imagePreview = entry.imagePreview[0] ?? null %}
    {% if imagePreview %}
        <div class="post-image">
            <a href="{{ entry.url }}" title="{{ entry.title }}">
                <img src="{{ imagePreview.getUrl('crop1200x500') }}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="{{ entry.title }}" />
            </a>
        </div>
    {% endif %}

    <div class="post-content">

        {{ entry.textSummary|doxter }}

        <div class="post-meta">
            <span><i class="far fa-user"></i> By <a href="#">{{ entry.author.firstName }} {{ entry.author.lastName }}</a> </span>
            {% if entry.tags | length %}
                <span>
                    <i class="fas fa-tag"></i>
                    {% for tag in entry.tags.all() %}
                        <a href="/blog/tags/{{ tag.title | url_encode }}">{{  tag.title }}</a>&nbsp;&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
            {#<span><i class="far fa-comments"></i><a href="#">12 Comments</a></span> @TODO: Кол-во комментов#}
            <span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">
                                <a href="{{ entry.url }}"
                                   title="Прочитать о {{ entry.title }}"
                                   class="btn btn-xs btn-light text-1 text-uppercase">
                                    Прочитать
                                </a>
            </span>
        </div>
    </div>
</article>