<div class="container">
    <div class="footer-ribbon">
        <span>Информация</span>
    </div>
    <div class="row py-5 my-4">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <h5 class="text-3 mb-3">Зачем это?</h5>
            <p class="mb-0">В надежде, что мой скромный опыт окажется кому-то полезным ...</p>
            {#<p class="mb-0"><a href="#" class="btn-flat btn-xs text-color-light p-relative top-5"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>#}
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <h5 class="text-3 mb-3">Последние записи</h5>
            {% set blogLastQuery = craft.entries().section('blog').orderBy('postDate desc') %}
            <ul class="list-unstyled mb-0">
                {% for entry in blogLastQuery.limit(3).all() %}
                    <article class="d-flex">
                        <a href="{{ entry.url }}" title="{{ entry.title }}" class="text-color-primary">
                            <i class="icon-arrow-right icons"></i>
                        </a>
                        <div class="media-body">
                            <a href="{{ entry.url }}" title="{{ entry.title }}">
                                <h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">{{ entry.title }}</h6>
                                <p class="text-2 mb-0">{{ entry.postDate | date("d-M-Y") }}</p>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </ul>
        </div>
        {#<div class="col-md-6 col-lg-3 mb-5 mb-md-0">
            <h5 class="text-3 mb-3">RECENT COMMENTS</h5>
            <ul class="list-unstyled mb-0">
                <li class="mb-3 pb-1">
                    <a href="#">
                        <p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">John Doe</strong> commented on <strong class="text-color-primary">lorem ipsum dolor sit amet.</strong></p>
                        <p class="text-2 mb-0">12:55 AM Dec 19th</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">John Doe</strong> commented on <strong class="text-color-primary">lorem ipsum dolor sit amet.</strong></p>
                        <p class="text-2 mb-0">12:55 AM Dec 19th</p>
                    </a>
                </li>
            </ul>
        </div>
        #}
        {#<div class="col-md-6 col-lg-2">
            <h5 class="text-3 mb-3">CATEGORIES</h5>
            <p>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Gadgets</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Photography</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Lifestyle</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Fashion</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Recipes</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Travel</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Business</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Architecture</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Reviews</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Sports</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Videos</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Technology</span></a>
                <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">Design</span></a>
            </p>
        </div>#}
    </div>
</div>
<div class="footer-copyright">
    <div class="container py-2">
        <div class="row py-4">
            <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                <a href="/" class="logo pr-0 pr-lg-3">
                    <img alt="{{ siteName }}" src="/assets/img/logo-footer.png" class="opacity-5" height="33">
                </a>
            </div>
            <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                <p>© Copyright 2019. All Rights Reserved.</p>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                <nav id="sub-menu">
                    <ul>
                        <li><i class="fas fa-angle-right"></i><a href="/sitemap" class="ml-1 text-decoration-none"> Карта сайта</a></li>
                        <li><i class="fas fa-angle-right"></i><a href="/contact" class="ml-1 text-decoration-none"> Контакт</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>